<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OzoneOverseas.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>27E21F910618848D7F97F90ACAE9938A360B5C2E</string>
				<key>dateExpires</key>
				<string>01/11/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9D932R2PWR.com.ozoneoverseas</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9D932R2PWR</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>OzoneOverseas.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e4ec297-d5c1-47b3-9f97-b8e09a28ab05</string>
				<key>dateExpires</key>
				<string>01/11/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.ozoneoverseas</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9D932R2PWR</string>
				<key>name</key>
				<string>GENEFIED BRAND PROTECTION SOLUTIONS PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
